{% extends 'back.html.twig' %}
{% block title %}
    All Users
{% endblock %}

    
                {% block ktiba %}
                <div class="row"id="user-table">
                    <div class="col-12"id="user-table">
                        <div class="card"id="user-table">
                            <div class="card-body"id="user-table">
                                <h4 class="card-title">Show Vendeurs</h4>
                                 {% for vendeur in Vendeur %}
                    
                                <div class="row">
                                    <div class="col-lg-4 col-md-3"><img src="{{ asset('uploads/' ~ vendeur.image) }}" class="img-fluid" /></div>
                                    <div class="col-lg-8 col-md-9" id="slimtest1" style="height: 250px;">
                                        <div>
                                        {% for stock in Stock %}
                                        {% if  stock.IdVendeur == vendeur %}
                                        
                                        <h5 style="color: green;">This product is already added to the Database</h5>
                                        {% endif %}
                                         {% endfor %}
                                             <p>{{vendeur.nom}} </p>
                                             <p>{{vendeur.nomproduit}} </p>
                                             <p>{{vendeur.email}} </p>
                                             <p>{{vendeur.motdepasse}} </p>
                                             <p>{{vendeur.description}} </p>
                                             <p>{{vendeur.type}} </p>
                                             <a class="btn btn-primary" href="{{ path('app_update', {'id': vendeur.IdVendeur}) }}" role="button">edite</a> 
                                             <a class="btn">{{ include('vendeur/delete.html.twig') }} </a>
                                             <a class="btn btn-primary" href="{{ path('app_stock_new', {'vendeurId': vendeur.IdVendeur}) }}" role="button">insert into stock</a>
                                           


                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                               
                                {% endfor %}
                               
                            </div>
                        </div>

                        
 
                {% endblock %}
