{% extends 'front.html.twig' %}

{% block title %}
TOUNSI LL TOUNSI    
{% endblock %}

{% block ktiba2 %}
<div class="wrapper">
    <div class="form-box">
        <div class="login-container" id="login">
            <div class="top">
                <span>Don't have an account? <a href="{{ path ('app_vendeur')}}" onclick="register()">Sign Up</a></span>
                <header>Login</header>
            </div>
            {{ form_start(loginForm) }}
            <div class="input-box">
                {{ form_row(loginForm.email, {'attr': {'class': 'input-field', 'placeholder': 'Email'}}) }}
                <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
                {{ form_row(loginForm.motdepasse, {'attr': {'class': 'input-field', 'placeholder': 'Password'}}) }}
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
                {{ form_row(loginForm.submit, {'attr': {'class': 'submit', 'value': 'Sign In'}}) }}
            </div>
            {{ form_end(loginForm) }}
            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="login-check">
                    <label for="login-check"> Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="#">Forgot password?</a></label>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}