
{% block title %}Header{% endblock %}

{% block header %}
<div class="grid-container header">
    <div class="grid-item " id="i1">
        <img src="{{asset('Images/person.svg')}}" width="32"  height="32"/>
        <img src="{{asset('Images/list.svg')}}" width="32"  height="32"/>
        <h1 id="menu">MENU</h1>
    </div>
    <div class="grid-item titre">
        <h1 >M TOUNSI L TOUNSI</h1>
    </div>
    <div class="grid-item " id="i2">
        <div id="search-box" style="display: none;">
          <input type="text" name="search" id="search-input" cols="30" rows="10"></input>
        </div>

        <img id="search-icon" src="{{asset('Images/search.svg')}}" width="32"  height="32"/>

        <img src="{{asset('Images/heart.svg')}}" width="32"  height="32"/>
        <img src="{{asset('Images/cart.svg')}}" width="32"  height="32"/>
    </div>
</div>
{% endblock %}

