{# templates/security/forgot_password.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>

    {% if app.flashes('success') %}
        <div class="alert alert-success">
            {{ app.flashes('success')[0] }}
        </div>
    {% endif %}

    {% if app.flashes('error') %}
        <div class="alert alert-danger">
            {{ app.flashes('error')[0] }}
        </div>
    {% endif %}

    <form action="{{ path('Forgotpassword') }}" method="post">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </form>
{% endblock %}
