{% extends 'back.html.twig' %}

{% block title %}
    Update
{% endblock %}

{% block ktiba %}
  
<div class="row">
    <div class="col-12">
        <div class="card card-body">
            <h4 class="card-title">Signup</h4>
            <h5 class="card-subtitle">Elements</h5>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
             {{ form_start(form, {'attr': {'class': 'register-form'}}) }}
<div class="form-group">
    <label for="user_nom">First Name</label>
    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Enter First Name'}}) }}
    {{ form_errors(form.nom) }} {# Affiche les erreurs de validation pour le champ nom #}
</div>
<div class="form-group">
    <label for="user_prenom">Last Name</label>
    {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Enter Last Name'}}) }}
    {{ form_errors(form.prenom) }} {# Affiche les erreurs de validation pour le champ prenom #}
</div>
<div class="form-group">
    <label for="user_email">Email</label>
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter Email'}}) }}
    {{ form_errors(form.email) }} {# Affiche les erreurs de validation pour le champ email #}
</div>
<div class="form-group">
    <label for="user_motdepasse">Password</label>
    {{ form_widget(form.motdepasse, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
    {{ form_errors(form.motdepasse) }} {# Affiche les erreurs de validation pour le champ motdepasse #}
</div>
<div class="form-group">
    <label for="user_adresse">Address</label>
    {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Enter Address'}}) }}
    {{ form_errors(form.adresse) }} {# Affiche les erreurs de validation pour le champ adresse #}
</div>
<div class="form-group">
    <label for="user_role">Role</label>
    {{ form_widget(form.role, {'attr': {'class': 'form-control', 'placeholder': 'Le rôle doit être 0, 1 ou 2'}}) }}
    {{ form_errors(form.role) }} {# Affiche les erreurs de validation pour le champ role #}
</div>

<div class="form-group form-button">
    {{ form_row(form) }}
    <button type="submit" class="btn btn-dark">Signup</button>
</div>
{{ form_end(form) }}



                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#myTable').DataTable();
        var table = $('#example').DataTable({
            "columnDefs": [{
                "visible": false,
                "targets": 2
            }],
            "order": [
                [2, 'asc']
            ],
            "displayLength": 25,
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
        // Order by the grouping
        $('#example tbody').on('click', 'tr.group', function () {
            var currentOrder = table.order()[0];
            if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                table.order([2, 'desc']).draw();
            } else {
                table.order([2, 'asc']).draw();
            }
        });
        // responsive table
        $('#config-table').DataTable({
            responsive: true
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
    });
</script>

{% endblock %}
